


/*header start*/

.header{
display: grid;
grid-template-columns: 1fr 1fr;
width: 1100px;


}

.logo{
    display: grid;
   
    transform: translate(200px, 0px);
   
}

.buttonshead{
    display: grid;
    
    justify-content: end;
    padding: 30px;
    grid-template-columns: 1fr 1fr 2fr;
    transform: translate(500PX, 0PX);

   

}

.wlcmtext {
    display: inline-block;
   
    transform: translate(200px, 100px);   
    color: white;
}

.wlcmtext2 {
   
    color: white;
}

.imgright{
    transform: translate(600px, -141px);
}


/*body start*/

body{
    background-image:linear-gradient(
        to bottom , grey 50% , red 50% 
    );
    height: 1300px;
}



/*footer start*/
